@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&family=Mulish&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
}

button {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

p,
footer {
  font-family: "Mulish", Helvetica, Arial, sans-serif;
}

.nav {
  position: sticky;
  top: 0;
  background-color: transparent;
  height: 4.8rem;
}
.nav__title {
  display: inline-block;
  margin-left: 2rem;
  line-height: 1.5;
  color: #ffd248;
}
.nav__title:hover {
  color: white;
  cursor: pointer;
}
.nav__container {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.nav__list {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  list-style: none;
}
.nav__link {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: black;
}
.nav__link:hover {
  color: white;
}
.nav__hamburger-checkbox {
  display: none;
}
.nav__hamburger-checkbox:checked + .nav__list {
  display: flex;
}
.nav__hamburger-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  height: 1.5rem;
  padding: 0.75rem;
  width: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 5rem;
  position: absolute;
  top: 1rem;
}
.nav__hamburger-line {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 2px;
  width: 1.5rem;
}

.section-one {
  background: url("../../assets/img/bg-pattern.png"), linear-gradient(90deg, #da2534, #804190);
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-one__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-one__text {
  color: white;
  text-align: center;
  padding-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.1;
}
.section-one__button {
  padding: 1rem 3rem;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50rem;
  color: white;
  user-select: none;
  outline: transparent;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}
.section-one__button:hover {
  transition: all 300ms;
  border-color: #fdcc52;
  background-color: #fdcc52;
  color: black;
  box-shadow: 0 0 3px #fdcc52;
}
.section-one__telephone-container {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 18rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.section-one__phone-image {
  max-width: 100%;
}
.section-one__inner-phone {
  position: absolute;
  top: 4rem;
  right: 1.05rem;
  max-width: 88%;
}

.section-two {
  background-color: #fdcb50;
  text-align: center;
  line-height: 1.25;
}
.section-two__text-container {
  padding-top: 8rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.section-two__text-1 {
  margin-top: 0;
  padding-top: 3rem;
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 0;
}
.section-two__text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1rem;
}
.section-two__badge-container {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  padding-bottom: 3.5rem;
}
.section-two img {
  width: 268px;
  padding-bottom: 1rem;
}

.section-three__title-container {
  text-align: center;
  padding: 0 5%;
  line-height: 1.25;
}
.section-three__title {
  font-size: 3.5rem;
  font-weight: normal;
  margin-top: 6rem;
  margin-bottom: 0.5rem;
}
.section-three__subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.section-three hr {
  width: 15rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}

@media only screen and (min-width: 993px) {
  .nav__container {
    align-items: center;
  }
  .nav__list {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: auto;
    top: 1rem;
    left: 65%;
  }
  .nav__hamburger-label {
    display: none;
  }

  .section-one {
    flex-direction: row;
  }
  .section-one__text-container {
    margin-left: 15%;
    margin-bottom: 8%;
    align-items: flex-start;
  }
  .section-one__text-container h1 {
    text-align: left;
    padding-left: 0;
  }
  .section-one__telephone-container {
    margin-right: 15%;
  }

  .section-two__badge-container {
    flex-direction: row;
    justify-content: center;
  }
  .section-two__badge-container span {
    margin-right: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
